@font-face {
    font-family: 'Raleway', sans-serif;
    src: url('/Axit/src/fonts/raleway/Raleway-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Open Sans', sans-serif;
    src: url('/Axit/src/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf');
}
*{ 
    font-size:16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    
}


/* START STYLE HEADER*/
.header{
    
    background-color: #000000;
}
.container.header{
    display: flex;   
}
.pic_logo{
    padding-left: 115px;
}
.header_list{
    
    min-width: 570px;
    min-height: 75px;
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.header_item{
    padding-top: 33px;
}

.header_item a{
   
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 19px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    
}
.header_item a:hover{
    background:#EC7979;
}
.header_item a:active{
    background: #AB4949;
}


/*END STYLE HEADER*/


/* START STYLE SECTION BANNER*/

.section_banner{
    padding: 207px 170px 185px 170px;
    background:url('/Axit/src/img/bg_banner.png');
    }
.field_banner{
    padding-bottom: 72px;
    display: flex;
}
.left_side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.logo_banner img{
    width: 270px;
    height: 100px;
}
.line_banner{
    width: 170px;
    border: 1px solid #FFFFFF;
}

.title_banner{
    padding-bottom: 55px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 56px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text_banner{
    padding: 42px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: #FFFFFF;
}

.btn_banner{
    width: 270px;
    height: 58px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.btn_banner:hover{
    border: 2px solid #EC7979;
    color:#EC7979;
}
.btn_banner:active{
    background: #AB4949;
    border: 2px solid #AB4949;
    color: #FFFFFF;
}
.right_side{
    padding-left: 30px;
    display: flex;
    flex-direction: column;

}
.card_banner{
    padding: 0 50px 75px 50px;
    background: #FFFFFF;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
}

.title_card{
    padding: 30px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    text-transform: uppercase;
    color: #333333;
}
.title_card span{
    font-size: 24px;
    color:#EC7979;
}
.registration_field{
    padding-top: 33px;
    padding-bottom: 16px;
    display: block;
    width: 370px;
    border: none;
    border-bottom:1px solid #BDBDBD;
    
}

.btn_card{
    padding: 20px 0;
    width: 100%;
    background-color: #EC7979;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    border-radius: 0px 0px 10px 10px; 
    cursor: pointer;
}
.btn_card:hover{
    background: #AB4949;
  
}
.btn_card:active{
    background:#EC7979 ;
    border: 2px solid #AB4949;
}
.registration_field:first-child{
    padding-top: 45px;
}

.registration_field::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    align-items: center;
    color: #BDBDBD;
}
/*END STYLE SECTION BANNER*/

/*START STYLE SOCIAL MEDIA*/

.section_social{
    padding: 10px 170px 0 170px;
    background: #F8EFEF;
}
.content_social{
    display: flex;
}
.title_social{
    padding-bottom: 18px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #333333;
}

.subtitle_social{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
}

.social_list{
    padding-left: 10px;
    display: flex;
    list-style: none;
}
.social_item:not(:last-child){
    padding-right: 20px;
}
/*END STYLE SOCIAL MEDIA*/

/* START STYLE TABS MENU */
.section_tabs{
    padding: 100px 170px 0 170px;
}
.menu_tabs{
    max-width: 1170px;
    display: flex;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 19px;
    text-transform: uppercase;
    color: #333333;
    text-align: center;
}
.tab{
    cursor: pointer;
    border-bottom: 1px solid #C6CBCD;
    padding: 10px 81px;
    
}
.tab.first{
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 5px 5px 0px 0px;
    box-sizing: content-box;
    
}
.tab.empty{
    width:540px;
}

.content_tabs{
    padding-left: 100px;
    border: 1px solid #C6CBCD;
    border-top: none;
    display: flex;
   
}
.title_tabs{
    padding: 40px 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 41px;
    color: #000000;
}

.content_field{
    padding-right: 30px;
    text-align: left;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: #000000;

}
.first_text{
    padding: 27px 0 22px 0 ;
}
.btn_tabs{
    margin-top: 27px;
    width: 270px;
    height: 58px;
    background: #EC7979;
    display: block;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}
.btn_tabs:hover{
    background-color: #AB4949;
}

.pic_tabs img{
    display: block;
 
  
}



/* END STYLE SECTION TABS*/ 


/* START STYLE SECTION AWESOME*/ 

.section_awesome{
padding: 50px 170px;
}
.title_awesome{
    padding: 54px 0;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 42px;
}
.line{
    margin: auto;
    width: 170px;
    border: 0.5px solid #EC7979;
}
.section_awesome p{
    padding:38px 0 0 0 ;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: #86878B;
    text-align: center;
}
.content_awesome{
    display: flex;
    padding:71px 0 0 0;
}
.box_awesome{
    text-align: center;

}
.title_box{
    padding: 17px 110px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    color: #000000;
}
.text_box{
    padding: 8px 30px 0 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: #000000;
}


/* END STYLE SECTION AWESOME  */


/* START STYLE PRICE SECTION */

.section_price{
    background-color: #F5F5F5;
    padding: 50px 170px;
}
.title_price{
    padding: 55px 0;   
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 42px;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
}
.section_price p{
    padding: 40px 0 0 0 ;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

.price_cards{
    padding: 79px 0 0 0;  
    display: flex; 
    
}

.card{
    transition: 2s ease;
}
.card:hover{
    cursor: pointer;
    margin: -20px 30px 0 30px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));

}

.card_title{
    padding: 11px 150px;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 33px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}

.card_price{
    padding: 27px 150px;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}
.card_text{
    padding: 12px 134px;
    background: #333333;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
}
.card_subtitle{
    padding: 13px 120px;
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    text-transform: capitalize;
    color: #86878B;
}
/* END STYLE PRICE SECTION*/


/* START STYLE CUSTOMERS*/


.section_customers{
    padding: 50px 170px 64px 170px ;
}
.title_customers{
    
    padding: 54px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.section_customers p{
    padding: 40px 0 0 0 ;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

.content_customers{
    padding: 83px 15px 0 15px;
    display: flex;
}

.item_customer:nth-child(2){
    padding: 0 30px;

}
.text_customer{
    padding: 38px 20px;
    background: #E2E2E2;
    border-radius: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

.triangle{
    margin: 0 0 0 70px;
    width: 0;
    height: 0;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    border-top: 30px solid #E2E2E2 ;
}
.customer{
    display: flex;
    padding-top: 46px;
}
.customer img{
    width: 70px;
    height: 70px;
}
.about_customer{
    padding-left:30px ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.name_customer{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 33px;
    text-transform: capitalize;
    color: #000000;
    text-align: center;
}

.profession_customer{
    padding-top: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: #000000;
   
}
/*END STYLE CUSTOMERS*/


/*START STYLE SECTION DESIGN*/

.section_design{
   padding: 50px 170px;
   background: no-repeat url('/Axit/src/img/background.png');
}

.title_design{
    padding: 58px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.line.white{
    margin: auto;
    width: 170px;
    border: 1px solid #FFFFFF;
}
.text_design{
    padding-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.btn_design{
    margin: 73px 0 0 400px;
    width: 370px;
    height: 58px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
    border: 2px solid #FFFFFF;
}

.btn_design:hover{
    color: #EC7979;
    border: 2px solid #EC7979;
}
.btn_design:active{
    background: #AB4949;
border: 2px solid #AB4949;
color: #FFFFFF;
}
/*END STYLE SECTION DESIGN*/


/*START STYLR SECTION CONTACTS*/
.section_contacts{
    padding: 50px 170px;
}

.title_contacts{
    padding: 54px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.section_contacts p{
    padding-top: 40px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    text-align: center;
    color: #86878B;
}

.content_contacts{
    padding-top: 39px;
    display: flex;
    
}

.data_contacts{
    padding-right: 30px;
    width: 50%;
}

.text_field{
    padding: 50px 0 16px 0;
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid #BDBDBD;
    cursor: pointer;
}
.message_contacts{
    width: 50%;
}
.text_message{
    display: block;
    width: 100%;
    border:none;
    border-bottom: 1px solid #BDBDBD;
    cursor: pointer;
    padding: 50px 0 182px 0;
}
input::placeholder{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 19px;
    color: #BDBDBD;
}

.btn_contacts{
    margin: 50px 0 0 400px;
    width: 370px;
    height: 58px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 25px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #EC7979;
    border: none;
    cursor: pointer;
    
}

.btn_contacts:hover{
    background: #AB4949;
}

.btn_contacts:active{
    border: 1px solid #AB4949;
}
/*END STYLE SECTION CONTACTS*/

/*START STYLE FOOTER*/
.footer{
    padding: 40px 480px;
    background-color: #000000;
}
.footer img{
    width: 53px;
    height: 53px;
}
.list_links{
    display: flex;
}
.list_links li:not(:last-child){
    padding-right: 38px;
}
.footer p{
    padding: 27px 0 0 160px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 21px;
    color: rgba(255, 255, 255, 0.5);
}
/*END STYLE FOOTER*/